@import "../../assets/styles/index.scss";

.home {
  .empty {
    margin-top: 40px;
    margin-bottom: 30px;

    border-radius: 16px;
    border: 0.5px solid #E2DBEA;
    padding: 32px;

    @media (max-width: 700px) {
      width: 100%;

    }
    @media (max-width: 500px) {
      padding: 24px;

    }
    background: #F5F5FF;
    color: var(--text, #1E1A26);
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width:600px;
    width: 100%;


    a {
      color: var(--pr, #FF385C);
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .information {
    width: 100%;
    border-radius: 16px;
    border: 0.5px solid #E2DBEA;
    background: rgb(241, 238, 255);
    padding: 36px 68px;
    padding-top: 53px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
    position: relative;
    overflow: hidden;


    .rectannge_first {
      position: absolute;
      top: 0;
      left: 0;
    }

    .rectannge_third {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;

      z-index: 1;

      img {
        width: 100%;
      }
    }

    .rectannge_fourth {
      position: absolute;
      bottom: 0;
      right: 10px;
      z-index: 3;
      height: 100%;
    }

    .rectannge_second {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .img {
      z-index: 3;

      height: 100%;

      margin-right: 30px;

      img {
        height: 100%;
        width: 100%;
      }

    }
  }

  @media (max-width: 910px) {
    .information {


      .rectannge_third {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 35%;

        z-index: 1;

        img {
          width: 100%;
        }
      }

      .rectannge_fourth {
        position: absolute;
        bottom: 0;
        right: 10px;
        z-index: 3;
        height: 100%;
        width: 36%;
      }


    }
    .img {

      z-index: 3;

      height: 100%;

      margin-right: 3% !important;

      img {
        height: 100%;
        width: 100%;
      }

    }

  }
  @media (max-width: 800px) {
    .information {


      .rectannge_third {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 35%;

        z-index: 1;

        img {
          width: 100%;
        }
      }

      .rectannge_fourth {
        position: absolute;
        bottom: 0;
        right: 10px;
        z-index: 3;
        height: 100%;
        width: 36%;
      }


    }
    .img {

      z-index: 3;

      height: 100%;

      margin-right: -4% !important;

      img {
        height: 80% !important;;
        width: 80% !important;;
      }

    }

  }
  @media (max-width: 700px) {
    .information {


      .rectannge_third {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 35%;

        z-index: 1;

        img {
          width: 100%;
        }
      }

      .rectannge_fourth {
        position: absolute;
        bottom: 0;
        right: 10px;
        z-index: 3;
        height: 100%;
        width: 36%;
      }


    }
    .img {

      z-index: 3;

      height: 100%;

      margin-right: -9% !important;

      g
      img {
        height: 80% !important;;
        width: 80% !important;;
      }

    }

  }
  @media (max-width: 540px) {
    .information {

      padding: 24px;

      padding-top: 109px;

      .rectannge_third {
        position: absolute;
        top: -50px !important;
        right: -50px !important;
        height: 100%;
        width: 55%;

        z-index: 1;

        img {
          width: 100%;
        }
      }

      .rectannge_fourth {
        position: absolute;
        top: -50px !important;
        right: -20px !important;
        z-index: 3;
        height: 100%;
        width: 55%;
      }


    }
    .img {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 3;

      height: 100%;

      margin-right: 0% !important;

      img {
        height: 60% !important;;
        width: 60% !important;;
      }

    }

  }
  @media (max-width: 460px) {
    .information {

      padding: 24px;

      padding-top: 109px;

      .rectannge_third {
        position: absolute;
        top: -50px !important;
        right: -50px !important;
        height: 100%;
        width: 55%;

        z-index: 1;

        img {
          width: 100%;
        }
      }

      .rectannge_fourth {
        position: absolute;
        top: -50px !important;
        right: -20px !important;
        z-index: 3;
        height: 100%;
        width: 55%;
      }


    }
    .img {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 3;

      height: 100%;

      margin-right: -10% !important;

      img {
        height: 60% !important;;
        width: 60% !important;;
      }

    }

  }

  .info {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 10;

    h1 {
      color: #352A47;
      font-family: Rubik;
      font-size: clamp(1.75rem, 1.5rem + 1vw, 2.25rem);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    p {
      color: #7C65AD;
      font-family: Karla;
      font-size: clamp(1.125rem, 1.0625rem + 0.25vw, 1.25rem);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    a {
      color: #683DE4;
    }
  }
}

.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 500px) {
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;

  }

  .title {
    color: var(--text, #1E1A26);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .btn {
    background-color: #FF385C;
    padding: 14px 20px;
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    display: inline-flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    border-radius: 5px;
    transition: 0.4s;

    &:active {
      background: white;
      color: #ff385c;
      outline: 1px solid #FF385C;

      .svg {
        fill: #FF385C;
      }
    }
  }
}

.down {
  margin-top: 40px;

  .title {
    margin-top: 60px;
    margin-bottom: 30px;

  }

  .tasks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .finished_tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}