@import "../../assets/styles/index.scss";
.ToDoItem {
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  height: 200px;
  transition: 0.4s;
  margin: 0;

  &:hover {

    .content {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 0 24px;
      padding-top: 12px;
      padding-bottom: 16px;


      background: #FF385C;
      transition: 0.4s;
      border-radius: 10px 10px 0px 0;
      cursor: pointer;
      margin: 0;

      .img {

        width: 36px;
        height: 36px;

        padding: 6px;
        border-radius: 8px;
        background: rgba(255, 233, 236, 0.40);

        margin: 0;

        img {
          width: 100%;
        }
      }

      .text {
        margin: 0;

        transition:  0.4s ease;

      }

      .title {
        overflow: hidden;

        color: #FFF;
        text-overflow: ellipsis;
        font-family: Karla;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 111.111% */
        text-transform: capitalize;

      }

      .description {
        color: rgba(255, 255, 255, 0.70);
        font-family: Karla;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        text-transform: capitalize;
        margin: 0;
        padding: 0;
      }
    }

    .content_hidden {
      padding: 0 24px;

      padding-top: 16px;
      padding-bottom: 24px;

      display: flex;


      .right,
      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 16px
      }

      .block {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .block_info {
          color: var(--text, #1E1A26);
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .block_text {
          color: rgba(50, 84, 103, 0.50);
          font-family: Karla;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
        }

      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;


    .text {
      margin-top: 13px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      transition:  0.4s ease;
    }

    .img {

      width: 48px;
      height: 48px;

      padding: 8px;
      border-radius: 8px;
      background: #FFE9EC;

      img {
        width: 100%;
      }
    }

    .title {
      color: var(--text, #1E1A26);
      font-family: Karla;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
      text-transform: capitalize;
    }

    .description {
      color: rgba(83, 81, 116, 0.50);
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
      text-transform: capitalize;
      padding-bottom: 30px;
    }
  }

  .content_hidden {

    display: flex;

    display: none;
    padding: 16px 24px;

    .right,
    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;

    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .block_info {
        font-weight: bold;
      }

      .block_text {
        color: rgba(50, 84, 103, 0.50);
      }

    }
  }
}