@import "../../assets/styles/index.scss";


.footer {

  margin-top: auto;
  border-top: 1px solid #D6D1DC;
  background-color: white;

  .content {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      color: gray;
    }

  }
}