.ToDoItem {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: white;
   align-items: center;

   &.completed {
      opacity: 0.6;

      .description {
         .title {
            text-decoration: line-through;
         }
      }

   }

   .content {
      display: flex;
      gap: 30px;
      align-items: center;


   }

   .description {
      display: flex;
      gap: 5px;
      flex-direction: column;

      .times {
         color: var(--text-light, rgba(30, 26, 38, 0.50));
         display: flex;
         align-items: center;
         gap: 5px;

      }

   }

   .icon_container {
      border-radius: 8px;
      height: 40px;
      border-radius: 8px;
      background: #FFE9EC;

      padding: 5px;

      .icon_img {
         width: 100%;
         height: 100%;
      }
   }

   .icon {

      .date {
         background-color: #FF385C;
         padding: 20px;
         justify-content: center;
         align-items: center;
         display: flex;
         color: white;
         text-align: center;
         align-items: center;
         gap: 20px;
      }

      .date {
         display: flex;
         flex-direction: column;
         gap: 5px;
         align-items: center;

         .date_info {
            font-weight: bold;
         }

         .date_start {
            color: gray;
         }
      }

      .icon_content {
         padding: 25px 20px;
         border-radius: 20px 0px 0px 20px;
         background-color: #FF385C;


      }
   }

   .description {
      font-weight: bold;
   }

   .count_task {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .count {
         font-weight: bold;
      }

      .task {
         color: gray;
      }
   }

   .buttons {
      padding-right: 10px;
      display: flex;
      gap: 10px;
      align-items: center;

      @keyframes fadeIn {
         0% {
            opacity: 0;
            transform: translateY(10px);
         }

         100% {
            opacity: 1;
            transform: translateY(0);
         }
      }

      .completed_block {
         display: flex;
         align-items: center;
         gap: 10px;
         color: #0091E2;
         animation: fadeIn 0.5s ease;

      }

      .edit {
         padding: 10px 20px;
         display: flex;
         gap: 5px;
         align-items: center;
         color: #FF385C;
         border: 1px solid #FF385C;

      }
   }
}